In [129]:
#The basics
import pandas as pd
import numpy as np
import json

#Plotting
import matplotlib.pyplot as plt
import FCPython 

#Statistical fitting of models
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [130]:
with open('Wyscout/events/events_England.json') as f:
    eventsData = json.load(f)
eventsDf = pd.DataFrame(eventsData)

In [131]:
with open('Wyscout/matches/matches_England.json') as f:
    matchesData = json.load(f)
matchesDf = pd.DataFrame(matchesData)

In [132]:
matchesDf

,status,roundId,gameweek,teamsData,seasonId,dateutc,winner,venue,wyId,label,date,referees,duration,competitionId
0,Played,4405654,38,"{'1646': {'scoreET': 0, 'coachId': 8880, 'side...",181150,2018-05-13 14:00:00,1659,Turf Moor,2500089,"Burnley - AFC Bournemouth, 1 - 2","May 13, 2018 at 4:00:00 PM GMT+2","[{'refereeId': 385705, 'role': 'referee'}, {'r...",Regular,364
1,Played,4405654,38,"{'1628': {'scoreET': 0, 'coachId': 8357, 'side...",181150,2018-05-13 14:00:00,1628,Selhurst Park,2500090,"Crystal Palace - West Bromwich Albion, 2 - 0","May 13, 2018 at 4:00:00 PM GMT+2","[{'refereeId': 381851, 'role': 'referee'}, {'r...",Regular,364
2,Played,4405654,38,"{'1609': {'scoreET': 0, 'coachId': 7845, 'side...",181150,2018-05-13 14:00:00,1609,The John Smith's Stadium,2500091,"Huddersfield Town - Arsenal, 0 - 1","May 13, 2018 at 4:00:00 PM GMT+2","[{'refereeId': 384965, 'role': 'referee'}, {'r...",Regular,364
3,Played,4405654,38,"{'1651': {'scoreET': 0, 'coachId': 8093, 'side...",181150,2018-05-13 14:00:00,1612,Anfield,2500092,"Liverpool - Brighton & Hove Albion, 4 - 0","May 13, 2018 at 4:00:00 PM GMT+2","[{'refereeId': 385704, 'role': 'referee'}, {'r...",Regular,364
4,Played,4405654,38,"{'1644': {'scoreET': 0, 'coachId': 93112, 'sid...",181150,2018-05-13 14:00:00,1611,Old Trafford,2500093,"Manchester United - Watford, 1 - 0","May 13, 2018 at 4:00:00 PM GMT+2","[{'refereeId': 381853, 'role': 'referee'}, {'r...",Regular,364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Played,4405654,1,"{'1623': {'scoreET': 0, 'coachId': 268779, 'si...",181150,2017-08-12 14:00:00,1623,Goodison Park,2499723,"Everton - Stoke City, 1 - 0","August 12, 2017 at 4:00:00 PM GMT+2","[{'refereeId': 385915, 'role': 'referee'}, {'r...",Regular,364
376,Played,4405654,1,"{'10531': {'scoreET': 0, 'coachId': 381291, 's...",181150,2017-08-12 14:00:00,0,St. Mary's Stadium,2499726,"Southampton - Swansea City, 0 - 0","August 12, 2017 at 4:00:00 PM GMT+2","[{'refereeId': 385916, 'role': 'referee'}, {'r...",Regular,364
377,Played,4405654,1,"{'1659': {'scoreET': 0, 'coachId': 8934, 'side...",181150,2017-08-12 14:00:00,1627,The Hawthorns,2499728,"West Bromwich Albion - AFC Bournemouth, 1 - 0","August 12, 2017 at 4:00:00 PM GMT+2","[{'refereeId': 379443, 'role': 'referee'}, {'r...",Regular,364
378,Played,4405654,1,"{'1644': {'scoreET': 0, 'coachId': 71037, 'sid...",181150,2017-08-12 11:30:00,0,Vicarage Road Stadium,2499727,"Watford - Liverpool, 3 - 3","August 12, 2017 at 1:30:00 PM GMT+2","[{'refereeId': 378952, 'role': 'referee'}, {'r...",Regular,364
379,Played,4405654,1,"{'1609': {'scoreET': 0, 'coachId': 7845, 'side...",181150,2017-08-11 18:45:00,1609,Emirates Stadium,2499719,"Arsenal - Leicester City, 4 - 3","August 11, 2017 at 8:45:00 PM GMT+2","[{'refereeId': 385909, 'role': 'referee'}, {'r...",Regular,364

In [133]:
eventsDf

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id
0,8,Simple pass,[{'id': 1801}],25413,"[{'y': 49, 'x': 49}, {'y': 78, 'x': 31}]",2499719,Pass,1609,1H,2.758649,85,177959171
1,8,High pass,[{'id': 1801}],370224,"[{'y': 78, 'x': 31}, {'y': 75, 'x': 51}]",2499719,Pass,1609,1H,4.946850,83,177959172
2,8,Head pass,[{'id': 1801}],3319,"[{'y': 75, 'x': 51}, {'y': 71, 'x': 35}]",2499719,Pass,1609,1H,6.542188,82,177959173
3,8,Head pass,[{'id': 1801}],120339,"[{'y': 71, 'x': 35}, {'y': 95, 'x': 41}]",2499719,Pass,1609,1H,8.143395,82,177959174
4,8,Simple pass,[{'id': 1801}],167145,"[{'y': 95, 'x': 41}, {'y': 88, 'x': 72}]",2499719,Pass,1609,1H,10.302366,85,177959175
...,...,...,...,...,...,...,...,...,...,...,...,...
643145,5,Ball out of the field,[],0,"[{'y': 32, 'x': 0}, {'y': 100, 'x': 100}]",2500098,Interruption,1623,2H,2796.732525,50,251596409
643146,3,Corner,"[{'id': 302}, {'id': 801}, {'id': 1801}]",70965,"[{'y': 100, 'x': 100}, {'y': 47, 'x': 88}]",2500098,Free Kick,1633,2H,2829.821084,30,251596232
643147,1,Air duel,"[{'id': 701}, {'id': 1802}]",7919,"[{'y': 53, 'x': 12}, {'y': 50, 'x': 14}]",2500098,Duel,1623,2H,2831.211419,10,251596410
643148,1,Air duel,"[{'id': 703}, {'id': 1801}]",8005,"[{'y': 47, 'x': 88}, {'y': 50, 'x': 86}]",2500098,Duel,1633,2H,2832.434399,10,251596234
643149,10,Shot,"[{'id': 403}, {'id': 201}, {'id': 1216}, {'id'...",8005,"[{'y': 50, 'x': 86}, {'y': 0, 'x': 0}]",2500098,Shot,1633,2H,2834.127168,100,251596236

In [147]:
prueba = eventsDf[eventsDf['matchId'] == 2500091]

In [135]:
'''
prueba_shots = prueba[prueba["subEventName"] == "Shot"]
for i,row in prueba_shots.iterrows():
    for shottags in row["tags"]:
        if shottags['id'] == 101:
            print("goal")
'''

'\nprueba_shots = prueba[prueba["subEventName"] == "Shot"]\nfor i,row in prueba_shots.iterrows():\n    for shottags in row["tags"]:\n        if shottags[\'id\'] == 101:\n            print("goal")\n'

In [148]:
prueba

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id
630026,8,Simple pass,[{'id': 1801}],8290,"[{'y': 51, 'x': 50}, {'y': 50, 'x': 36}]",2500091,Pass,1673,1H,2.398714,85,251665472
630027,8,Simple pass,[{'id': 1801}],8897,"[{'y': 50, 'x': 36}, {'y': 74, 'x': 29}]",2500091,Pass,1673,1H,3.524132,85,251665473
630028,8,Simple pass,[{'id': 1801}],55979,"[{'y': 74, 'x': 29}, {'y': 73, 'x': 40}]",2500091,Pass,1673,1H,4.953577,85,251665479
630029,8,High pass,[{'id': 1801}],9419,"[{'y': 73, 'x': 40}, {'y': 6, 'x': 67}]",2500091,Pass,1673,1H,7.805655,83,251665474
630030,8,Simple pass,[{'id': 1801}],14796,"[{'y': 6, 'x': 67}, {'y': 24, 'x': 41}]",2500091,Pass,1673,1H,12.560241,85,251665476
...,...,...,...,...,...,...,...,...,...,...,...,...
631758,9,Reflexes,"[{'id': 1203}, {'id': 1801}]",25662,"[{'y': 100, 'x': 100}, {'y': 50, 'x': 7}]",2500091,Save attempt,1609,2H,2850.783261,90,251665469
631759,1,Ground attacking duel,"[{'id': 703}, {'id': 1801}]",25662,"[{'y': 53, 'x': 1}, {'y': 52, 'x': 2}]",2500091,Duel,1609,2H,2851.793397,11,251665470
631760,1,Ground defending duel,"[{'id': 701}, {'id': 1802}]",55979,"[{'y': 47, 'x': 99}, {'y': 48, 'x': 98}]",2500091,Duel,1673,2H,2851.947465,12,251666358
631761,2,Foul,[{'id': 1702}],55979,"[{'y': 48, 'x': 98}, {'y': 47, 'x': 99}]",2500091,Foul,1673,2H,2853.426584,20,251666359
631762,3,Free Kick,[{'id': 1802}],25662,"[{'y': 58, 'x': 9}, {'y': 100, 'x': 100}]",2500091,Free Kick,1609,2H,2903.722445,31,251665471

In [172]:
'''
create the chainID

chanID starts with 1, store teamId value

if teamId doesnt change, chainId is the same value
if teamID changes, check next teamID
    if return to previous teamID insert negative chanID
    if teamID is still diferent, increase chainID for this two events and increase chanId value
'''
#when using iterrows we shouldnt modify the object, so we create a copy
#prueba_iterrated = prueba
eventsDfWithChain = eventsDf

chainId=1
teamId = eventsDf.head(1)["teamId"].values[0]
eventsDfWithChain["chainId"] = 0
eventsDfWithChain["xg"] = None

#prueba['start'] = prueba.index
#prueba.start = prueba.start.shift(1, fill_value=prueba.index.min())
eventsDf['start'] = eventsDf.index
eventsDf.start = eventsDf.start.shift(1, fill_value=eventsDf.index.min())


for i,row in eventsDf.iterrows():
    aux = eventsDf.loc[row.start : i, ['teamId']]

    if (row["teamId"] == teamId):
        eventsDfWithChain.at[i,"chainId"] = chainId
    else:
        nextTeamId = aux["teamId"].values[1]
        if (nextTeamId == teamId):
            eventsDfWithChain.at[i,"chainId"] = -chainId
        else:
            chainId +=1
            teamId = nextTeamId
            eventsDfWithChain.at[i,"chainId"] = chainId

In [173]:
eventsDfWithChain[eventsDfWithChain["chainId"] == 1]

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id,chainId,xg,start
0,8,Simple pass,[{'id': 1801}],25413,"[{'y': 49, 'x': 49}, {'y': 78, 'x': 31}]",2499719,Pass,1609,1H,2.758649,85,177959171,1,None,0
0,8,High pass,[{'id': 1801}],370224,"[{'y': 78, 'x': 31}, {'y': 75, 'x': 51}]",2499719,Pass,1609,1H,4.946850,83,177959172,1,None,0
1,8,Head pass,[{'id': 1801}],3319,"[{'y': 75, 'x': 51}, {'y': 71, 'x': 35}]",2499719,Pass,1609,1H,6.542188,82,177959173,1,None,0
2,8,Head pass,[{'id': 1801}],120339,"[{'y': 71, 'x': 35}, {'y': 95, 'x': 41}]",2499719,Pass,1609,1H,8.143395,82,177959174,1,None,1
3,8,Simple pass,[{'id': 1801}],167145,"[{'y': 95, 'x': 41}, {'y': 88, 'x': 72}]",2499719,Pass,1609,1H,10.302366,85,177959175,1,None,2
4,8,Simple pass,[{'id': 1802}],3319,"[{'y': 88, 'x': 72}, {'y': 75, 'x': 77}]",2499719,Pass,1609,1H,12.548934,85,177959177,1,None,3

In [138]:
'''
prueba['start'] = prueba.index
prueba.start = prueba.start.shift(1, fill_value=prueba.index.min())

for i, row in prueba.iterrows():
    print(f'From: {row.start} to: {i}')
    print(prueba.loc[row.start : i, ['teamId']])
    aux = prueba.loc[row.start : i, ['teamId']]
    if len(aux) !=1:
        print(aux["teamId"].values[0])
        print(aux["teamId"].values[1])
    print()
'''

'\nprueba[\'start\'] = prueba.index\nprueba.start = prueba.start.shift(1, fill_value=prueba.index.min())\n\nfor i, row in prueba.iterrows():\n    print(f\'From: {row.start} to: {i}\')\n    print(prueba.loc[row.start : i, [\'teamId\']])\n    aux = prueba.loc[row.start : i, [\'teamId\']]\n    if len(aux) !=1:\n        print(aux["teamId"].values[0])\n        print(aux["teamId"].values[1])\n    print()\n'

In [154]:
'''
now we can create and fit a model for the xg value
when done, we search all the goals within the chain, and add the xg to their chains
'''

#Create a data set of shots.
trainDf = pd.DataFrame(eventsDf)
pd.unique(trainDf['subEventName'])
shotsDf=trainDf[trainDf['subEventName']=='Shot']
shotsModel=pd.DataFrame(columns=['Goal','X','Y'])

In [155]:
#Go through the dataframe and calculate X, Y co-ordinates.
#Distance from a line in the centre
#Shot angle.
#Details of tags can be found here: https://apidocs.wyscout.com/matches-wyid-events
for i,shot in shotsDf.iterrows():
    
    header=0
    for shottags in shot['tags']:
        if shottags['id']==403:
            header=1
    #Only include non-headers        
    if not(header):        
        shotsModel.at[i,'X']=100-shot['positions'][0]['x']
        shotsModel.at[i,'Y']=shot['positions'][0]['y']
        shotsModel.at[i,'C']=abs(shot['positions'][0]['y']-50)
    
        #Distance in metres and shot angle in radians.
        x=shotsModel.at[i,'X']*105/100
        y=shotsModel.at[i,'C']*65/100
        shotsModel.at[i,'Distance']=np.sqrt(x**2 + y**2)
        a = np.arctan(7.32 *x /(x**2 + y**2 - (7.32/2)**2))
        if a<0:
            a=np.pi+a
        shotsModel.at[i,'Angle'] =a
    
        #Was it a goal
        shotsModel.at[i,'Goal']=0
        for shottags in shot['tags']:
                #Tags contain that its a goal
                if shottags['id']==101:
                    shotsModel.at[i,'Goal']=1

In [156]:
shotsModel.columns

Index(['Goal', 'X', 'Y', 'C', 'Distance', 'Angle'], dtype='object')

In [157]:
# List the model variables you want here
#model_variables = ['Angle','Distance','X','C']
modelVariables = ['Angle','Distance']
model=''
for v in modelVariables[:-1]:
    model = model  + v + ' + '
model = model + modelVariables[-1]

#Fit the model
test_model = smf.glm(formula="Goal ~ " + model, data=shotsModel, 
                           family=sm.families.Binomial()).fit()
print(test_model.summary())        
b=test_model.params

                   Generalized Linear Model Regression Results
==================================================================================
Dep. Variable:     ['Goal[0]', 'Goal[1]']   No. Observations:                 7134
Model:                                GLM   Df Residuals:                     7131
Model Family:                    Binomial   Df Model:                            2
Link Function:                      logit   Scale:                          1.0000
Method:                              IRLS   Log-Likelihood:                -1990.9
Date:                    Thu, 23 Sep 2021   Deviance:                       3981.8
Time:                            19:08:29   Pearson chi2:                 9.02e+03
No. Iterations:                         7
Covariance Type:                nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.8909      0.252      3.532      0.000       0.396       1.385
Angle         -1.3139      0.218     -6.031      0.000      -1.741      -0.887
Distance       0.1137      0.011     10.793      0.000       0.093       0.134
==============================================================================

In [158]:
#Return xG value for more general model
def calculate_xG(sh):    
   bsum=b[0]
   for i,v in enumerate(modelVariables):
       bsum=bsum+b[i+1]*sh[v]
   xG = 1/(1+np.exp(bsum)) 
   return xG   

#Add an xG to my dataframe
xG=shotsModel.apply(calculate_xG, axis=1) 
shotsModel = shotsModel.assign(xG=xG)

In [159]:
shotsModel[shotsModel["xG"]>0.6]

       Goal  X   Y    C  Distance     Angle        xG
28239     1  3  48  2.0  3.407712  1.647974  0.708250
64563     1  3  49  1.0  3.216364  1.702334  0.727124
73233     0  2  48  2.0  2.469818  2.013921  0.813720
75405     1  2  45  5.0  3.869431  1.468571  0.645354
78775     1  3  54  4.0  4.084422  1.429201  0.627732
...     ... ..  ..  ...       ...       ...       ...
611774    1  1  51  1.0  1.234909  2.566990  0.912254
624076    0  2  48  2.0  2.469818  2.013921  0.813720
630697    1  3  52  2.0  3.407712  1.647974  0.708250
635574    0  4  48  2.0  4.396590  1.380115  0.604084
636275    1  2  48  2.0  2.469818  2.013921  0.813720

[78 rows x 7 columns]

In [212]:
'''
incorporar xg valor al modelo
'''

goals = shotsModel[shotsModel["Goal"] == 1]
aux = eventsDfWithChain

In [184]:
goals

       Goal   X   Y     C   Distance     Angle        xG
46        1  12  41   9.0  13.891814  0.474451  0.136206
554       1   6  54   4.0   6.815424  0.948906  0.396730
898       1   8  50   0.0   8.400000  0.821821  0.317286
1570      1   6  63  13.0  10.540043  0.441023  0.180946
2982      1  11  55   5.0  11.998542  0.574628  0.182387
...     ...  ..  ..   ...        ...       ...       ...
641382    1  14  36  14.0  17.288725  0.360427  0.084458
642258    1  23  45   5.0  24.367704  0.295658  0.036498
642748    1  26  64  14.0  28.776727  0.240538  0.020895
642888    1   3  55   5.0   4.526036  1.272510  0.566211
643023    1  14  33  17.0  18.390011  0.319916  0.071644

[736 rows x 7 columns]

In [213]:
for i,goal in goals.iterrows():
    xg = goal["xG"]
    chainId = eventsDfWithChain.at[i,"chainId"]
    chainEvents = eventsDfWithChain[eventsDfWithChain["chainId"] == chainId]
    for j,event in chainEvents.iterrows():
        aux.at[j,"xg"] = xg

In [217]:
aux = aux[["eventId", "playerId", "matchId", "teamId", "chainId", "xg"]]
aux

        eventId  playerId  matchId  teamId  chainId        xg
0             8     25413  2499719    1609        1  0.136206
1             8    370224  2499719    1609        1  0.136206
2             8      3319  2499719    1609        1  0.136206
3             8    120339  2499719    1609        1  0.136206
4             8    167145  2499719    1609        1  0.136206
...         ...       ...      ...     ...      ...       ...
643145        5         0  2500098    1623    86188      None
643146        3     70965  2500098    1633   -86188      None
643147        1      7919  2500098    1623    86188      None
643148        1      8005  2500098    1633   -86188      None
643149       10      8005  2500098    1633    86189      None

[643150 rows x 6 columns]

In [218]:
aux[aux["chainId"] == 7]

    eventId  playerId  matchId  teamId  chainId        xg
36        8     49876  2499719    1609        7  0.136206
37        1      7868  2499719    1609        7  0.136206
39        1      7868  2499719    1609        7  0.136206
41        8      7868  2499719    1609        7  0.136206
42        8     49876  2499719    1609        7  0.136206
43        8    167145  2499719    1609        7  0.136206
44        8    120339  2499719    1609        7  0.136206
45       10     25413  2499719    1609        7  0.136206